# --- CONFIGURACIÓN DE DESARROLLO ---
MODO_PRUEBA=False
RUTA_ENTORNO_PRUEBAS=./Entorno_Pruebas/.minecraft

# --- CREDENCIALES CLOUDFLARE R2 ---
R2_ACCESS_KEY=TU_ACCESS_KEY_AQUI
R2_SECRET_KEY=TU_SECRET_KEY_AQUI
R2_ENDPOINT_URL=https://tu-id.r2.cloudflarestorage.com
R2_BUCKET_NAME=nombre-tu-bucket
R2_PREFIJO_NUBE=cobblemon

# --- URLS DE DISTRIBUCIÓN ---
URL_INDEX=https://tu-url.dev/index.json
URL_JAVA=https://tu-url.dev/prereqs/java.msi
URL_BASE_CLOUD=https://tu-url.dev/archivos

# --- RUTAS LOCALES (PRIVADAS) ---
LOCAL_RUTA_DATOS_MC=C:\ruta\a\tu\carpeta\minecraft
LOCAL_RUTA_MANIFEST_LOCAL=C:\ruta\a\tu\proyecto\manifest.json