# --- CONFIGURACIÓN DE DESARROLLO ---
MODO_PRUEBA=True
RUTA_ENTORNO_PRUEBAS=./Entorno_Pruebas/.minecraft

# --- CREDENCIALES CLOUDFLARE R2 (SENSISBLE) ---
# Mantenlas fijas, son las llaves de tu bodega
R2_ACCESS_KEY=tu_access_key_aqui
R2_SECRET_KEY=tu_secret_key_aqui
R2_ENDPOINT_URL=https://tu_id_endpoint.r2.cloudflarestorage.com
R2_BUCKET_NAME=tu_nombre_bucket

# --- URL DE CONTROL ---
# Esta es la única URL que el manager necesita saber para descubrir todo lo demás
URL_INDEX=https://tu_url_publica.dev/index.json

# --- RUTAS LOCALES (PRIVADAS) ---
# IMPORTANTE: Cambia esta ruta dependiendo de qué estés subiendo hoy al R2
LOCAL_RUTA_DATOS_MC=D:\Ruta_A_Tus_Mods_Local
LOCAL_RUTA_MANIFEST_LOCAL=D:\Kotimanager\manifest.json